@page
@model FrontendWalkthrough.Pages.LoginModel
@{
}

<div class="text-center">
    <div class="general-container">
        <img src="/images/VotingSystemIconCutoff.png" style="width: 128px; height: 128px;"/>
        <h1 class="display-4">
            Log In
        </h1>
        <form>
            <br />
            <div>
                <input type="email" placeholder="Email Address" asp-for="Email"/>
                <br />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <br />
            <div>
                <input type="password" placeholder="Password" asp-for="Password"/>
                <br />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <br />
            <div>
                <input type="submit" value="Submit"/>
            </div>
            <br />
            <div>
                <a href="/CreateAccount">Create an Account</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}